@{
    ViewData["Title"] = "PDF File Management";
}

<h1>Task Assignment: Mohamed Nabih</h1>

<p></p>

<div class="d-flex justify-content-center">
    <a asp-controller="Pdf" asp-action="UploadFiles" class="btn btn-primary mx-2">
        <i class="bi bi-upload"></i> Upload PDF Files
    </a>
    <a asp-controller="Pdf" asp-action="ViewUploadedFiles" class="btn btn-secondary mx-2">
        <i class="bi bi-folder"></i> View Uploaded Files
    </a>
</div>